{"swagger":"2.0","info":{"title":"Default title","description":"","version":"1.0"},"host":"org7e5c0996.api.crm4.dynamics.com","basePath":"/","schemes":["https"],"consumes":[],"produces":[],"paths":{"/api/data/v9.2/jeschro_PaginatedDataset":{"post":{"responses":{"default":{"description":"default","schema":{"type":"object","properties":{"@odata.context":{"type":"string","description":"@odata.context"},"jeschro_PagingCookie":{"type":"string","description":"jeschro_PagingCookie"},"jeschro_MoreRecords":{"type":"boolean","description":"jeschro_MoreRecords"},"jeschro_EntityCollection":{"type":"array","items":{"type":"object","properties":{"@odata.type":{"type":"string","description":"@odata.type"},"@odata.etag":{"type":"string","description":"@odata.etag"},"jeschro_name":{"type":"string","description":"jeschro_name"},"statecode":{"type":"integer","format":"int32","description":"statecode"},"statuscode":{"type":"integer","format":"int32","description":"statuscode"},"jeschro_relateddataid":{"type":"string","description":"jeschro_relateddataid"},"_owningbusinessunit_value":{"type":"string","description":"_owningbusinessunit_value"},"_ownerid_value":{"type":"string","description":"_ownerid_value"},"_jeschro_masterdata_value":{"type":"string","description":"_jeschro_masterdata_value"},"modifiedon":{"type":"string","description":"modifiedon"},"_modifiedby_value":{"type":"string","description":"_modifiedby_value"},"_owninguser_value":{"type":"string","description":"_owninguser_value"},"createdon":{"type":"string","description":"createdon"},"_createdby_value":{"type":"string","description":"_createdby_value"}}},"description":"jeschro_EntityCollection"}}}}},"summary":"Query","operationId":"Query","parameters":[{"name":"Content-Type","in":"header","required":true,"type":"string","default":"application/json","x-ms-visibility":"internal"},{"name":"body","in":"body","required":false,"schema":{"type":"object","properties":{"jeschro_entityName":{"type":"string","description":"jeschro_entityName"},"jeschro_PageNumber":{"type":"integer","format":"int32","description":"jeschro_PageNumber"},"jeschro_PageSize":{"type":"integer","format":"int32","description":"jeschro_PageSize"},"jeschro_Sort":{"type":"string","description":"jeschro_Sort"}}}}]}}},"definitions":{},"parameters":{},"responses":{},"securityDefinitions":{"oauth2-auth":{"type":"oauth2","flow":"accessCode","authorizationUrl":"https://login.microsoftonline.com/common/oauth2/authorize","tokenUrl":"https://login.windows.net/common/oauth2/authorize","scopes":{}}},"security":[{"oauth2-auth":[]}],"tags":[]}